span#errAddress1 {
    color: red;
}
span#errCity {
    color: red;
}
span#errZipCode {
    color: red;
}
span#errCashOnHand {
    margin-left: 314px;
}
span#errstateField {
    color: red;
}
.row.line-bottom-dasshed:nth-last-child(-n+1) {
    border-bottom: none;
}
.bt-dashed {
    border-top: 1px dashed #002a7b;
}
span#errToDate {
    margin-left: 46px;
}
/*span#errToDate {
    margin-left: 224px;
}*/
.uploaded-pics {
    background: var(--secondary);
    border-radius: 8px;
    padding: 10px;
    position: relative;
}
div#bindCreditReport .upload__img-box, #bindBankStatementDoc .upload__img-box, #bindIdOrPassport .upload__img-box {
    width: 84px;
    padding: 0 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

div#bindCreditReport, #bindBankStatementDoc, #bindIdOrPassport {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

div#bindCreditReport .upload__img-close, #bindBankStatementDoc .upload__img-close, #bindIdOrPassport .upload__img-close {
        display: none;
    }
#mainDiv .colateraliz_radio {
    width: 22%;
}
/*responsive colateraliz*/
@media (max-width: 2080px) {
    #mainDiv .colateraliz_radio {
        width: 18%;
    }
}
@media (max-width: 1920px) {
    #mainDiv .colateraliz_radio {
        width: 20%;
    }
}
@media (max-width: 1600px) {
    #mainDiv .colateraliz_radio {
        width: 25%;
    }
}
@media (max-width: 1367px) {
    #mainDiv .colateraliz_radio {
        width: 28%;
    }
}
@media (max-width: 1290px) {
    #mainDiv .colateraliz_radio {
        width:32%;
    }
}