@media (min-width: 1440px) {
    .right .modal-dialog {
        width: 100%;
    }
}

@media (max-width: 1440px) {
    /* .news-feeds  .container-px {
        padding: 0px 1rem;
    } */
    .h-4 {
        height: 336px;
    }

    .advertise {
        width: 100%;
    }

    .overview-icn {
        margin-bottom: 20px;
    }

    .carousel-detail {
        height: auto;
    }

    .owl-slider .item {
        width: auto;
    }

    button.owl-next {
        top: 160px;
    }

    button.owl-prev {
        top: 160px;
    }
    /*responsive for 18 jan 2024*/
    .flexcolumn1366 {
        flex-direction: column;
    }

     .map-filters .container-px {
        padding: 0px 1rem !important;
    }

    .caption {
        font-size: 20px;
    }
    .explore-btn, .intersted-btn {
        padding: 10px 12px;
        font-size: 14px;
        text-wrap: nowrap;
    }
    .descr-para {
        line-height: 24px;
        letter-spacing: normal;
    }
    .add-property {
        padding: 1.5rem 1.2rem;
    }
        .add-property  h4.fs-13{
            font-size:1.2rem;
        }
    .filter-control {
        padding: 10px 15px;
        margin-right: 10px;
        font-size: 15px;
    }
    #saveSearch {
        padding: 10px 15px;
        font-size: 15px;
    }
    #propertyTitle {
        font-size: 1.5rem;
    }
    .lendingdetails h5.fw-semibold.mb-3 {
        font-size: 1rem;
    }
    .checkboxouter .form-check-inline {
        display: inline-block;
        margin-right: 0.2rem;
    }
}

@media (max-width: 1365px) {
    .descr-para {
        line-height: 22px;
        letter-spacing: normal;
    }
    #txtDescription{
        margin-bottom:0.2rem;
    }
}

    @media (max-width: 1025px) {
        .small-d-none {
            display: none;
        }

        .small-d-block {
            display: block;
        }

        .map-details {
            padding-right: 0rem;
        }

        .container-px {
            padding: 0px 1rem;
        }

        .slider {
            display: none;
        }

        .uper-section {
            display: none;
        }

        .advertise {
            padding: 30px 0px;
            display: block;
        }

        .flexcntrbtw {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    @media (min-width: 1025px) {
        .small-d-block {
            display: none;
        }
    }

    /* Tablet devices */
    @media (max-width: 768px) {
        .statictxt, .gradienttxt {
            font-size: 20px;
        }

        .add-property {
            padding: 1rem;
        }

        .advertise {
            padding: 10px 0px;
        }

        .sign-content h3 {
            font-size: 40px;
        }

        .wizard .nav-tabs > li a i {
            display: none;
        }

        .signup-logo-header .navbar-toggle {
            margin: 0;
            margin-top: 8px;
        }

        .signup-logo-header .logo_area {
            margin-top: 0;
        }

        .signup-logo-header .header-flex {
            display: block;
        }
    }

    @media (max-width: 760px) {
        .mt-6 {
            margin-top: 8px;
        }
    }



    /* Small devices */
    @media only screen and (max-width: 850px) {
        .slider {
            display: none;
        }

        .uper-section {
            display: none;
        }

        .advertise {
            padding: 30px 0px;
            display: block;
        }

        .flexcntrbtw {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .explore-btn {
            margin-top: 5px;
        }
    }

    @media (max-width:500px) {
        .imgicon {
            height: 35px;
        }

        .property-content {
            padding: 25px 0px;
        }

        .advertise .flexcntrbtw {
            justify-content: center;
            width: 100%;
        }

        .reidytext {
            flex-direction: column;
            margin: 25px;
        }
    }
