@using SanmorePlatform_REAL_Model.ViewModels
@model ResetPasswordReqModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanmorePlatform-REAL</title>
    <!-- Links -->
    <link rel="stylesheet" href="~/css/site.css">

    <!-- font awesome 4.7  -->
</head>

<body>
    <!--Nav-->
    <!-- top section -->
    <div class="top-section">
        <div class="container-fluid container-px">
            <div class="d-flex align-items-center justify-content-between">
                <h3 class="fw-semibold mb-0">Reset Your Password</h3>
            </div>
        </div>
    </div>
    <div class="addlistingform ">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center reset-outer-row">
                <div class="reset-outer lending-list">
                    <form asp-action="ResetPassword" method="post">
                        <h3>Reset Your Password</h3>
                        <h6>Please enter your new password below</h6>
                        <div class="position-relative mb-2 mt-4">
                            <span class="reset-inputOuter">
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                     viewBox="0 0 17 17" fill="none">
                                    <path d="M8.5 12.9524C9.06359 12.9524 9.60409 12.7818 10.0026 12.4782C10.4011 12.1745 10.625 11.7627 10.625 11.3333C10.625 10.9039 10.4011 10.4921 10.0026 10.1885C9.60409 9.88486 9.06359 9.71429 8.5 9.71429C7.93641 9.71429 7.39591 9.88486 6.9974 10.1885C6.59888 10.4921 6.375 10.9039 6.375 11.3333C6.375 11.7627 6.59888 12.1745 6.9974 12.4782C7.39591 12.7818 7.93641 12.9524 8.5 12.9524ZM14.875 5.66667C15.4386 5.66667 15.9791 5.83724 16.3776 6.14088C16.7761 6.44451 17 6.85632 17 7.28571V15.381C17 15.8104 16.7761 16.2222 16.3776 16.5258C15.9791 16.8294 15.4386 17 14.875 17H2.125C1.56141 17 1.02091 16.8294 0.622398 16.5258C0.223883 16.2222 0 15.8104 0 15.381V7.28571C0 6.85632 0.223883 6.44451 0.622398 6.14088C1.02091 5.83724 1.56141 5.66667 2.125 5.66667H3.1875V4.04762C3.1875 2.97412 3.74721 1.9446 4.74349 1.18552C5.73978 0.426444 7.09104 0 8.5 0C9.19765 0 9.88846 0.104695 10.533 0.308107C11.1775 0.511519 11.7632 0.809664 12.2565 1.18552C12.7498 1.56138 13.1411 2.00758 13.4081 2.49866C13.6751 2.98974 13.8125 3.51608 13.8125 4.04762V5.66667H14.875ZM8.5 1.61905C7.65462 1.61905 6.84387 1.87491 6.2461 2.33036C5.64832 2.78581 5.3125 3.40352 5.3125 4.04762V5.66667H11.6875V4.04762C11.6875 3.40352 11.3517 2.78581 10.7539 2.33036C10.1561 1.87491 9.34538 1.61905 8.5 1.61905Z"
                                          fill="#A0A0A0"></path>
                                </svg>
                                <input type="text" asp-for="Password" id="passwordinput" class="form-control br-32 input-field ps-5 pass-input"
                                       placeholder="Enter new password">
                                <span class="eye-password">
                                    <i class="fa fa-eye" aria-hidden="true" id="show-passreset" onclick="passiconreset1()"></i>
                                    <i class="fa fa-eye-slash d-none" aria-hidden="true" id="hide-passreset"
                                       onclick="passiconreset2()"></i>
                                </span>
                            </span>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="position-relative mb-3 mt-3">
                            <span class="reset-inputOuter">
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                     viewBox="0 0 17 17" fill="none">
                                    <path d="M8.5 12.9524C9.06359 12.9524 9.60409 12.7818 10.0026 12.4782C10.4011 12.1745 10.625 11.7627 10.625 11.3333C10.625 10.9039 10.4011 10.4921 10.0026 10.1885C9.60409 9.88486 9.06359 9.71429 8.5 9.71429C7.93641 9.71429 7.39591 9.88486 6.9974 10.1885C6.59888 10.4921 6.375 10.9039 6.375 11.3333C6.375 11.7627 6.59888 12.1745 6.9974 12.4782C7.39591 12.7818 7.93641 12.9524 8.5 12.9524ZM14.875 5.66667C15.4386 5.66667 15.9791 5.83724 16.3776 6.14088C16.7761 6.44451 17 6.85632 17 7.28571V15.381C17 15.8104 16.7761 16.2222 16.3776 16.5258C15.9791 16.8294 15.4386 17 14.875 17H2.125C1.56141 17 1.02091 16.8294 0.622398 16.5258C0.223883 16.2222 0 15.8104 0 15.381V7.28571C0 6.85632 0.223883 6.44451 0.622398 6.14088C1.02091 5.83724 1.56141 5.66667 2.125 5.66667H3.1875V4.04762C3.1875 2.97412 3.74721 1.9446 4.74349 1.18552C5.73978 0.426444 7.09104 0 8.5 0C9.19765 0 9.88846 0.104695 10.533 0.308107C11.1775 0.511519 11.7632 0.809664 12.2565 1.18552C12.7498 1.56138 13.1411 2.00758 13.4081 2.49866C13.6751 2.98974 13.8125 3.51608 13.8125 4.04762V5.66667H14.875ZM8.5 1.61905C7.65462 1.61905 6.84387 1.87491 6.2461 2.33036C5.64832 2.78581 5.3125 3.40352 5.3125 4.04762V5.66667H11.6875V4.04762C11.6875 3.40352 11.3517 2.78581 10.7539 2.33036C10.1561 1.87491 9.34538 1.61905 8.5 1.61905Z"
                                          fill="#A0A0A0"></path>
                                </svg>
                                <input type="text" asp-for="ConfirmPassword" id="passwordfield1" class="form-control input-field ps-5 pass-input"
                                       placeholder="Confirm new password">
                                <span class="eye-password">
                                    <i class="fa fa-eye" aria-hidden="true" id="show-passconfirmreset"
                                       onclick="passiconconfirmreset1()"></i>
                                    <i class="fa fa-eye-slash d-none" aria-hidden="true" id="hide-passconfirmreset"
                                       onclick="passiconconfirmreset2()"></i>
                                </span>
                            </span>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Email" class="form-control" />
                        <input type="hidden" asp-for="Token" class="form-control" />
                        <div class="pt-4 pb-2 d-flex justify-content-between">
                            <button type="button" class="btn-login btn-pbr" data-bs-dismiss="modal" aria-label="Close" onclick="location.href='@Url.Action("Index","Home")'">Back to login</button>
                            @*<button type="submit" class="btn-sign btn-pbr">
                                Reset your password
                                </button>*@
                            <input type="submit" class="btn-sign btn-pbr" value="Reset your password" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- Right Sidebar Menu Modal Popup -->
    <!-- Right Sidebar Menu Modal Popup End-->
    <!-- Sign In -->
    <!-- Sign In Modal Popup End-->
    <!------------ forgot password pop up starts ------->
    <!------------ forgot password pop up Ends ------->
    <!-- Sign Up Modal Popup Start-->
    <!-- Sign Up Modal Popup End-->
    <!-- Filters Modal Popup Start-->
    <!-- Filters Modal Popup End-->
    <!-- scripts -->
</body>

</html>