<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanmorePlatform-REAL</title>
    <!-- Links -->
</head>

<body>
    <!--Nav-->
    <!-- top section -->
   @* <div class="top-section">
        <div class="container-fluid container-px">
            <div class="d-flex align-items-center justify-content-between">
                <h3 class="fw-semibold mb-0">Password Reset Successfully</h3>
            </div>
        </div>
    </div>*@
    <div class="addlistingform ">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center reset-outer-row">
                <div class="reset-outer lending-list text-center mb-4 user_profile">
                    <svg width="85" height="90" viewBox="0 0 85 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_126_3212" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="85"
                              height="90">
                            <path d="M42.5 2L53.6848 10.1592L67.5312 10.1336L71.7832 23.3093L83 31.4259L78.6968 44.5845L83 57.7431L71.7832 65.8597L67.5312 79.0354L53.6848 79.0098L42.5 87.169L31.3152 79.0098L17.4688 79.0354L13.2168 65.8597L2 57.7431L6.30316 44.5845L2 31.4259L13.2168 23.3093L17.4688 10.1336L31.3152 10.1592L42.5 2Z"
                                  fill="white" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M27.5967 44.5846L38.2428 55.2307L59.5351 33.9385" stroke="black" stroke-width="4"
                                  stroke-linecap="round" stroke-linejoin="round" />
                        </mask>
                        <g mask="url(#mask0_126_3212)">
                            <path d="M-8.60059 -6.51709H93.6022V95.6857H-8.60059V-6.51709Z" fill="#002A7B" />
                        </g>
                    </svg>
                    <h3 class="mt-3">Password changed successfully</h3>
                    <h6 class="varify-text mt-2">
                        Password has been changed,<br>
                        Pleasee login with your new password.
                    </h6>
                    <button type="submit" onclick="myclearData1()" class="btn-sign btn-pbr mt-4" id="idLoginForm" data-bs-toggle="modal" data-bs-target="#SignInId2">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>