<body>
    <!--Nav-->
    <!-- top section -->
    <div class="top-section">
        <div class="container-fluid container-px">
            <div class="d-flex align-items-center justify-content-between">
                <h3 class="fw-semibold mb-0"><span class="blue-primary ms-2">Unauthorised</span></h3>

            </div>
        </div>
    </div>
    <div class="addlistingform ">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center reset-outer-row">
                <div class="reset-outer lending-list text-center mb-4 user_profile">
                    <img src="~/images/warning-icon.png" alt="warning-icon" class="mb-2">
                    <h3 class="mt-3">Unauthorize</h3>
                    <h6 class="varify-text mt-2">You are unauthorize please Sign In</h6>
               </div>
            </div>
        </div>
    </div>
</body>
