<div class="info-banner">
    <div class="banner-content">
        <div>
            <h5 class="search-title">Lender Account</h5>
            <p class="search-title">What it does for you</p>
        </div>
    </div>
</div>
<div style="width: 100%">
    <div class="container my-4">
        <div>
            <h1 class="reidy-title">Content</h1>
        </div>
        <div class="info-block">
        </div>
    </div>
</div>
@section Scripts {

}