@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanmorePlatform-REAL</title>
</head>

<body>
    <!-- top section property details -->
    <div class="top-section">
        <div class="container-fluid container-px">
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xl-3 col-xxl-4">
                    <h3 id="propertyTitle" class="titletext"></h3>
                    <div>
                        <svg class="me-2 mb-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                             fill="none">
                            <path d="M12.3215 5.89276C12.3215 4.61406 11.8136 3.38773 10.9094 2.48355C10.0052 1.57937 8.77889 1.07141 7.50019 1.07141C6.22148 1.07141 4.99515 1.57937 4.09097 2.48355C3.1868 3.38773 2.67883 4.61406 2.67883 5.89276C2.67883 7.87059 4.26131 10.4484 7.50019 13.5362C10.7391 10.4484 12.3215 7.87059 12.3215 5.89276ZM7.50019 14.9998C3.57132 11.4287 1.60742 8.39237 1.60742 5.89276C1.60742 4.32991 2.22826 2.83106 3.33337 1.72595C4.43848 0.620843 5.93733 0 7.50019 0C9.06304 0 10.5619 0.620843 11.667 1.72595C12.7721 2.83106 13.393 4.32991 13.393 5.89276C13.393 8.39237 11.4291 11.4287 7.50019 14.9998Z"
                                  fill="#002A7B" />
                            <path d="M7.49988 6.42908C7.78404 6.42908 8.05655 6.3162 8.25748 6.11527C8.45841 5.91434 8.57129 5.64182 8.57129 5.35767C8.57129 5.07351 8.45841 4.80099 8.25748 4.60006C8.05655 4.39914 7.78404 4.28626 7.49988 4.28626C7.21573 4.28626 6.94321 4.39914 6.74228 4.60006C6.54135 4.80099 6.42847 5.07351 6.42847 5.35767C6.42847 5.64182 6.54135 5.91434 6.74228 6.11527C6.94321 6.3162 7.21573 6.42908 7.49988 6.42908ZM7.49988 7.50049C6.93157 7.50049 6.38653 7.27473 5.98468 6.87287C5.58282 6.47101 5.35706 5.92598 5.35706 5.35767C5.35706 4.78935 5.58282 4.24432 5.98468 3.84246C6.38653 3.4406 6.93157 3.21484 7.49988 3.21484C8.06819 3.21484 8.61323 3.4406 9.01509 3.84246C9.41694 4.24432 9.6427 4.78935 9.6427 5.35767C9.6427 5.92598 9.41694 6.47101 9.01509 6.87287C8.61323 7.27473 8.06819 7.50049 7.49988 7.50049ZM13.2855 10.7147L14.9998 15.0004H10.1784V13.929H4.82135V15.0004H0L1.71426 10.7147H13.2855ZM12.1316 10.7147H2.86817L1.58247 13.929H13.4173L12.1316 10.7147Z"
                                  fill="#002A7B" />
                        </svg><span id="spnAddress"></span>
                    </div>
                </div>

                <div class="slider col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-4">
                    <div class="caption statictxt ms-1 ">
                        <img src="~/images/reidy-text.svg" alt="reidy-text">
                        to be yours with
                        <div class="text-box">
                            <div>Interest rate is as low as 8%</div>
                            <div>just $15,000 Closing</div>
                            <div>Fixed interest rate at 30 years</div>
                        </div>
                    </div>
                </div>
                <div class="text-end col-12 col-lg-6 col-md-6 col-sm-12 col-xl-3 col-xxl-4">
                    <div class="mb-3">
                        <img src="/images/fav-icon.svg" alt="fav-icon" class="imgicon">
                        <img src="/images/share.svg" alt="share" class="imgicon">
                        <img src="/images/print1.svg" alt="print" class="imgicon">
                    </div>
                    <a href="#exploreOptions" class="explore-btn uper-section">
                        <img src="/images/exploreicon.svg" alt="exploreicon">
                        Explore Purchase Options
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- property banner section -->
    <div class="property-banner mt-4">
        <div class="container-fluid">
            <div class="row custom-banner">
                <div class="col-xl-5 mb-2">
                    <!-- slider -->
                    <div class="property-slider">
                        <div id="divImageSlider" class="banner-images owl-carousel owl-theme">
                            <div class="item" id="imgParent">
                                <img src="~/images/no-imge-1.jpg" alt="slider-bg1" class="rounded-3">
                            </div>
                            <div class="item">
                                <img src="~/images/no-imge-1.jpg" alt="slider-bg2" class="rounded-3">
                            </div>
                            <div class="item">
                                <img src="~/images/no-imge-1.jpg" alt="slider-bg3" class="rounded-3">
                            </div>
                            <div class="item" id="imgParent">
                                <img src="~/images/no-imge-1.jpg" alt="" class="rounded-3">
                            </div>
                            <div class="item">
                                <img src="~/images/no-imge-1.jpg" alt="s" class="rounded-3">
                            </div>
                            <div class="item">
                                <img src="~/images/no-imge-1.jpg" alt="" class="rounded-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mb-2 img-wh100">
                    <img src="~/images/no-imge-1.jpg" id="txtBannner2" class="rounded-3 img-fluid cr-pt" data-bs-target="#zoomImg" data-bs-toggle="modal">

                </div>
                <div class="col-xl-4 mb-2">
                    <div class="row">
                        <div class="col-12 mb-3 img-wh100">
                            <img src="~/images/no-imge-1.jpg" id="txtBannner3" class="rounded-3 img-fluid cr-pt">
                        </div>
                        <div class="col-12 img-wh100">
                            <img src="~/images/no-imge-1.jpg" id="txtBannner4" class="rounded-3 img-fluid cr-pt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- property content -->
    <div class="property-content">
        <div class="container-fluid container-px">
            <!-- overview -->
           @* <div class="overview">
                <div class="flexcntrbtw">
                    <div class="overview-icn d-flex align-items-center">
                        <img src="~/images/overview1.svg" alt="overview1" class="me-3">
                        <div>
                            <div>Building Type</div>
                            <h5><span id="spnBuildingType"></span></h5>
                        </div>
                    </div>
                    <div class="overview-icn d-flex align-items-center">
                        <img src="~/images/calendar.svg" alt="calendar" class="me-3">
                        <div>
                            <div>Year Built</div>
                            <h5><span id="spnYearBuilt"></span></h5>
                        </div>
                    </div>
                    <div class="overview-icn d-flex align-items-center">
                        <img src="~/images/size.svg" alt="size" class="me-3">
                        <div>
                            <div>Building Size</div>
                            <h5><span id="spnBuildingSize"></span> SF</h5>
                        </div>
                    </div>
                    <div class="overview-icn d-flex align-items-center">
                        <img src="~/images/parking.svg" alt="parking" class="me-3">
                        <div>
                            <div>Parking</div>
                            <h5><span id="spnParking"></span></h5>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="mt-4 mb-4">
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3 col-xxl-3">
                        <div class="overview-icn d-flex align-items-center">
                            <img src="~/images/overview1.svg" alt="overview1" class="me-3">
                            <div>
                                <div>Building Type</div>
                            <h5><span id="spnBuildingType"></span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3 col-xxl-3">
                        <div class="overview-icn d-flex align-items-center">
                            <img src="~/images/calendar.svg" alt="calendar" class="me-3">
                            <div>
                                <div>Year Built</div>
                            <h5><span id="spnYearBuilt"></span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3 col-xxl-3">
                        <div class="overview-icn d-flex align-items-center">
                            <img src="~/images/size.svg" alt="size" class="me-3">
                            <div>
                                <div>Building Size</div>
                            <h5><span id="spnBuildingSize"></span> SF</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3 col-xxl-3">
                        <div class="overview-icn d-flex align-items-center">
                            <img src="~/images/parking.svg" alt="parking" class="me-3">
                            <div>
                                <div>Parking</div>
                            <h5><span id="spnParking"></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- property overivew -->
            <div class="row">
                <div class="col-xl-8 col-md-6">
                    <div class="description map-h">
                        <h4 class="fw-semibold">Property<span class="blue-primary"> Description</span></h4>
                        <p class="descr-para" id="txtDescription">
                        </p>
                        <a href="#" class="view-text text-decoration-none" id="btnReadMore" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Read more...</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div id="dvMap" class="map-h img-fluid">
                    </div>
                </div>
            </div>


            <!-- Image zoom Modal Popup End-->
            <div class="modal popup  fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                    <div class="modal-content br-32">
                        <div class="modal-header mt-2">
                            <h5 class="modal-title fw-semibold" id="staticBackdropLabel">Property Overview</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body property_overview">
                            <p class="descr-para" id="txtDescriptionModelPopup">
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-pbr btn-login" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- highlights -->
            <div class="row">
                <div class="col-xl-8 col-md-6">
                    <div class="description minh-370">
                        <h4 class="fw-semibold">Key Features</h4>
                        <div class="mt-3">
                            <div class="d-flex align-items-center mb-3">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                         fill="none">
                                        <path d="M22.5157 0H8.68593C7.24764 0 6.08594 1.1617 6.08594 2.6V3.04255C6.08594 3.31914 6.25189 3.4851 6.52849 3.4851H19.0859C20.5242 3.4851 21.6859 4.6468 21.6859 6.0851V19.5276C21.6859 19.8042 21.8519 19.9702 22.1285 19.9702H22.5157C23.954 19.9702 25.1157 18.8085 25.1157 17.3702V2.6C25.1157 1.1617 23.954 0 22.5157 0Z"
                                              fill="#002A7B" />
                                        <path d="M16.4298 6.08496H2.6C1.1617 6.08496 0 7.24666 0 8.68496V23.3998C0 24.8381 1.1617 25.9998 2.6 25.9998H16.4298C17.8681 25.9998 19.0298 24.8381 19.0298 23.3998V8.68496C19.0851 7.24666 17.8681 6.08496 16.4298 6.08496ZM15.3234 13.4424L8.68509 20.0807C8.4085 20.3573 8.1319 20.4679 7.79999 20.4679C7.52339 20.4679 7.13616 20.3573 6.91488 20.0807L3.70638 16.8722C3.42978 16.5956 3.42978 16.2084 3.70638 15.9871L4.59148 15.102C4.86808 14.8254 5.25531 14.8254 5.47659 15.102L7.79999 17.4254L13.4979 11.7275C13.7745 11.4509 14.1617 11.4509 14.383 11.7275L15.2681 12.6126C15.5447 12.7786 15.5447 13.2211 15.3234 13.4424Z"
                                              fill="#002A7B" />
                                    </svg>
                                </span>
                                <p class="mb-0" id="keyfeatureid1">
                                    >
                                    Nestled within the wonderful grounds of Botleigh Grange Office Campus, Vanbrugh House
                                    offers two newly refurbished office suites on the first floor.
                                </p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                         fill="none">
                                        <path d="M22.5157 0H8.68593C7.24764 0 6.08594 1.1617 6.08594 2.6V3.04255C6.08594 3.31914 6.25189 3.4851 6.52849 3.4851H19.0859C20.5242 3.4851 21.6859 4.6468 21.6859 6.0851V19.5276C21.6859 19.8042 21.8519 19.9702 22.1285 19.9702H22.5157C23.954 19.9702 25.1157 18.8085 25.1157 17.3702V2.6C25.1157 1.1617 23.954 0 22.5157 0Z"
                                              fill="#002A7B" />
                                        <path d="M16.4298 6.08496H2.6C1.1617 6.08496 0 7.24666 0 8.68496V23.3998C0 24.8381 1.1617 25.9998 2.6 25.9998H16.4298C17.8681 25.9998 19.0298 24.8381 19.0298 23.3998V8.68496C19.0851 7.24666 17.8681 6.08496 16.4298 6.08496ZM15.3234 13.4424L8.68509 20.0807C8.4085 20.3573 8.1319 20.4679 7.79999 20.4679C7.52339 20.4679 7.13616 20.3573 6.91488 20.0807L3.70638 16.8722C3.42978 16.5956 3.42978 16.2084 3.70638 15.9871L4.59148 15.102C4.86808 14.8254 5.25531 14.8254 5.47659 15.102L7.79999 17.4254L13.4979 11.7275C13.7745 11.4509 14.1617 11.4509 14.383 11.7275L15.2681 12.6126C15.5447 12.7786 15.5447 13.2211 15.3234 13.4424Z"
                                              fill="#002A7B" />
                                    </svg>
                                </span>
                                <p class="mb-0" id="keyfeatureid2"></p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                         fill="none">
                                        <path d="M22.5157 0H8.68593C7.24764 0 6.08594 1.1617 6.08594 2.6V3.04255C6.08594 3.31914 6.25189 3.4851 6.52849 3.4851H19.0859C20.5242 3.4851 21.6859 4.6468 21.6859 6.0851V19.5276C21.6859 19.8042 21.8519 19.9702 22.1285 19.9702H22.5157C23.954 19.9702 25.1157 18.8085 25.1157 17.3702V2.6C25.1157 1.1617 23.954 0 22.5157 0Z"
                                              fill="#002A7B" />
                                        <path d="M16.4298 6.08496H2.6C1.1617 6.08496 0 7.24666 0 8.68496V23.3998C0 24.8381 1.1617 25.9998 2.6 25.9998H16.4298C17.8681 25.9998 19.0298 24.8381 19.0298 23.3998V8.68496C19.0851 7.24666 17.8681 6.08496 16.4298 6.08496ZM15.3234 13.4424L8.68509 20.0807C8.4085 20.3573 8.1319 20.4679 7.79999 20.4679C7.52339 20.4679 7.13616 20.3573 6.91488 20.0807L3.70638 16.8722C3.42978 16.5956 3.42978 16.2084 3.70638 15.9871L4.59148 15.102C4.86808 14.8254 5.25531 14.8254 5.47659 15.102L7.79999 17.4254L13.4979 11.7275C13.7745 11.4509 14.1617 11.4509 14.383 11.7275L15.2681 12.6126C15.5447 12.7786 15.5447 13.2211 15.3234 13.4424Z"
                                              fill="#002A7B" />
                                    </svg>
                                </span>
                                <p class="mb-0" id="keyfeatureid3">
                                </p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                         fill="none">
                                        <path d="M22.5157 0H8.68593C7.24764 0 6.08594 1.1617 6.08594 2.6V3.04255C6.08594 3.31914 6.25189 3.4851 6.52849 3.4851H19.0859C20.5242 3.4851 21.6859 4.6468 21.6859 6.0851V19.5276C21.6859 19.8042 21.8519 19.9702 22.1285 19.9702H22.5157C23.954 19.9702 25.1157 18.8085 25.1157 17.3702V2.6C25.1157 1.1617 23.954 0 22.5157 0Z"
                                              fill="#002A7B" />
                                        <path d="M16.4298 6.08496H2.6C1.1617 6.08496 0 7.24666 0 8.68496V23.3998C0 24.8381 1.1617 25.9998 2.6 25.9998H16.4298C17.8681 25.9998 19.0298 24.8381 19.0298 23.3998V8.68496C19.0851 7.24666 17.8681 6.08496 16.4298 6.08496ZM15.3234 13.4424L8.68509 20.0807C8.4085 20.3573 8.1319 20.4679 7.79999 20.4679C7.52339 20.4679 7.13616 20.3573 6.91488 20.0807L3.70638 16.8722C3.42978 16.5956 3.42978 16.2084 3.70638 15.9871L4.59148 15.102C4.86808 14.8254 5.25531 14.8254 5.47659 15.102L7.79999 17.4254L13.4979 11.7275C13.7745 11.4509 14.1617 11.4509 14.383 11.7275L15.2681 12.6126C15.5447 12.7786 15.5447 13.2211 15.3234 13.4424Z"
                                              fill="#002A7B" />
                                    </svg>
                                </span>
                                <p class="mb-0" id="keyfeatureid4">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- video virtual tour -->
                <div class="col-xl-4 col-md-6">
                    <div class="description">
                        <h4 class="fw-semibold">Virtual Tour</h4>
                        <div class="mt-3 position-relative" id="virtualVideoId">
                            <video class="img-fluid rounded w-100" controls>
                                <source id="videoVirtual" src="#" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>

            </div>

            <!-- documents section -->
            <div id="dvRecurrAttachments" onclick="ShowRecurrAttachments()" style=" display:none">
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="description">
                        <h4 class="fw-semibold">Due Diligence<span class="blue-primary"> Documents</span></h4>
                        <div class="d-flex docu-div flex-wrap">
                            <a href="#" class="nav-link" onclick="DocumentPreview()">
                                <img src="~/images/docu-icn.png" alt="docu-icn" class="me-2">
                                Appraisal
                            </a>
                            <a href="#" class="nav-link" onclick="InspectionPreview()">
                                <img src="~/images/docu-icn.png" alt="docu-icn" class="me-2">
                                Inspection
                            </a>
                            <a href="#" class="nav-link" onclick="SurveyPreview()">
                                <img src="~/images/docu-icn.png" alt="docu-icn" class="me-2">
                                Survey
                            </a>
                            <a href="#" class="nav-link" onclick="EnvironmentalPreview()">
                                <img src="~/images/docu-icn.png" alt="docu-icn" class="me-2">
                                Environmental
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Reidy Analysis-->
            <div class="row">
                <div class="col-xl-12">
                    <div class="description">
                        <h4 class="fw-semibold">Reidy<span class="blue-primary"> Analysis</span></h4>
                        <div class="row">
                            <div class=" col-12 col-md-7 col-xxl-7 mt-4">
                                <div class="d-flex justify-content-between mb-2">
                                    <div>
                                        <h5 class="blue-primary reidy_table_subheading">Analysis</h5>
                                    </div>
                                    <div>
                                        <a href="#" class="blue-primary">View more <img src="assets/images/vie_more.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="analysis_table">
                                    <table class="table custom_table mb-0 table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Address</th>
                                                <th scope="col">$/sq. ft.</th>
                                                <th scope="col">Rent/sq. ft./m</th>
                                                <th scope="col">Proximity to Property</th>
                                            </tr>
                                        </thead>
                                        <tbody class="custom_rows">
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>$140.00 sq ft</td>
                                                <td>3.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>$140.00 sq ft</td>
                                                <td>2.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.5 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.3 miles</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class=" col-12 col-md-5 col-xxl-5 mt-4">
                                <div class="d-flex justify-content-between mb-2">
                                    <div>
                                        <h5 class="blue-primary reidy_table_subheading">Sales Comparable</h5>
                                    </div>
                                    <div>
                                        <a href="#" class="blue-primary">View more <img src="assets/images/vie_more.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="analysis_table">
                                    <table class="table custom_table mb-0 table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Address</th>
                                                <th scope="col">$/sq. ft.</th>
                                                <th scope="col">Proximity to Property</th>
                                            </tr>
                                        </thead>
                                        <tbody class="custom_rows">
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="d-flex justify-content-between mb-2 mt-2">
                                    <div>
                                        <h5 class="blue-primary reidy_table_subheading">Rent Comparable</h5>
                                    </div>
                                    <div>
                                        <a href="#" class="blue-primary">View more <img src="assets/images/vie_more.svg" alt=""></a>
                                    </div>
                                </div>
                                <div class="analysis_table">
                                    <table class="table custom_table mb-0 table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Address</th>
                                                <th scope="col">Rent/sq. ft./m</th>
                                                <th scope="col">Proximity to Property</th>
                                            </tr>
                                        </thead>
                                        <tbody class="custom_rows">
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                            <tr>
                                                <td>The Wave</td>
                                                <td>$140.00 sq ft</td>
                                                <td>1.2 miles</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---- download modal starts -->
            </div>



            <!-- lending programs -->
            <div class="lending-sec" id="exploreOptions">
                <div class="flexcntrbtw">
                    <h4 class="fw-semibold w-100 text-center">Lending Options For This<span class="blue-primary"> Property</span></h4>
                </div>
                <div class="row mt-4">
                    <div class="col-xl-3 col-md-6">
                        <div class="lendingdetails">
                            <h5 class="fw-semibold mb-3">Lowest Cash to Close</h5>
                            <p class="fw-medium">
                                Lorem can provide up to <span class="blue-primary">100%</span> financing <span class="blue-primary">
                                    10%
                                </span>DOWN interest rate of a value add or reachable property.
                            </p>
                            <div class="mb-4 discounttxt">6% down Interest Rate</div>
                            <a href="#" class="viewbtn">View Details</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="lendingdetails">
                            <h5 class="fw-semibold mb-3">Lowest Interest Rate</h5>
                            <p class="fw-medium">
                                Lorem can provide up to <span class="blue-primary">100%</span> financing <span class="blue-primary">
                                    10%
                                </span>DOWN interest rate of a value add or reachable property.
                            </p>
                            <div class="mb-4 discounttxt">5% down Interest Rate</div>
                            <a href="#" class="viewbtn">View Details</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="lendingdetails">
                            <h5 class="fw-semibold mb-3">Lowest Monthly Payment</h5>
                            <p class="fw-medium">
                                Lorem can provide up to <span class="blue-primary">100%</span> financing <span class="blue-primary">
                                    10%
                                </span>DOWN interest rate of a value add or reachable property.
                            </p>
                            <div class="mb-4 discounttxt">6% down Interest Rate</div>
                            <a href="#" class="viewbtn">View Details</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="lendingdetails">
                            <h5 class="fw-semibold mb-3">Longest Term</h5>
                            <p class="fw-medium">
                                Lorem can provide up to <span class="blue-primary">100%</span> financing <span class="blue-primary">
                                    10%
                                </span>DOWN interest rate of a value add or reachable property.
                            </p>
                            <div class="mb-4 discounttxt">7% down Interest Rate</div>
                            <a href="#" class="viewbtn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="text-end mb-3">
                <a href="" class="readmore fs-5 text-decoration-none">
                    Explore More Lending Options <span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="6" height="10" viewBox="0 0 6 10" fill="none">
                            <path d="M4.37755 4.9977L0.818506 1.21726C0.755942 1.15113 0.706293 1.0725 0.672414 0.985902C0.638535 0.8993 0.621094 0.806433 0.621094 0.712641C0.621094 0.61885 0.638535 0.525983 0.672414 0.439381C0.706293 0.35278 0.755942 0.274152 0.818506 0.208018C0.945249 0.0747484 1.11633 0 1.2946 0C1.47287 0 1.64395 0.0747484 1.77069 0.208018L5.80283 4.48969C5.92466 4.61971 5.99467 4.79463 5.9983 4.9781C6.00194 5.16156 5.93892 5.33946 5.82235 5.47481L1.77348 9.78993C1.71114 9.85639 1.6371 9.90915 1.55558 9.9452C1.47406 9.98124 1.38666 9.99986 1.29837 10C1.21008 10.0001 1.12263 9.98179 1.04101 9.946C0.959396 9.91021 0.885209 9.85768 0.822687 9.79141C0.760166 9.72514 0.710536 9.64643 0.676629 9.55978C0.642723 9.47312 0.625205 9.38021 0.625076 9.28636C0.624814 9.09681 0.695396 8.91491 0.821294 8.78068L4.37755 4.9977Z"
                                  fill="#002A7B" />
                        </svg>
                    </span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                            <path d="M4.37755 4.9977L0.818506 1.21726C0.755942 1.15113 0.706293 1.0725 0.672414 0.985902C0.638535 0.8993 0.621094 0.806433 0.621094 0.712641C0.621094 0.61885 0.638535 0.525983 0.672414 0.439381C0.706293 0.35278 0.755942 0.274152 0.818506 0.208018C0.945249 0.0747484 1.11633 0 1.2946 0C1.47287 0 1.64395 0.0747484 1.77069 0.208018L5.80283 4.48969C5.92466 4.61971 5.99467 4.79463 5.9983 4.9781C6.00194 5.16156 5.93892 5.33946 5.82235 5.47481L1.77348 9.78993C1.71114 9.85639 1.6371 9.90915 1.55558 9.9452C1.47406 9.98124 1.38666 9.99986 1.29837 10C1.21008 10.0001 1.12263 9.98179 1.04101 9.946C0.959396 9.91021 0.885209 9.85768 0.822687 9.79141C0.760166 9.72514 0.710536 9.64643 0.676629 9.55978C0.642723 9.47312 0.625205 9.38021 0.625076 9.28636C0.624814 9.09681 0.695396 8.91491 0.821294 8.78068L4.37755 4.9977Z"
                                  fill="#002A7B" />
                        </svg>
                    </span>
                </a>
            </div>
            <!-- Have cash buttons -->
            <div class="add-property">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center buy_nowsection">
                        <h4 class="mb-0 me-3 fs-13">Have cash or your own financing? </h4>
                        <a id="propId" onclick="OwnFinancing()" class="explore-btn">Buy Now</a>
                    </div>
                    <div class="d-flex align-items-center">
                        <h4 class="mb-0 me-3 fs-13">Interested in lending on this property? </h4> <a href="#" class="intersted-btn btn-login btn-pbr small-d-none text-decoration-none">
                            Click here
                        </a>
                    </div>
                </div>
            </div>

            <!-- similar properties -->
            <div class="similar-div">
                <h4 class="fw-semibold pt-4">Similar<span class="blue-primary"> Properties</span></h4>
                <div class="row mt-4">
                    <div class="col-xl-3 col-md-3 col-sm-6 mb-2">
                        <img src="~/images/similar2.png" alt="similar2" class="img-fluid rounded-top-4">
                        <div class="detailtxt">
                            <div>927, Pasadena, TX</div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6 position-relative mb-2">
                        <img src="~/images/similar1.png" alt="similar1" class="img-fluid rounded-top-4">
                        <div class="detailtxt">661 Madison Ave</div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6 position-relative mb-2">
                        <div>
                            <img src="~/images/similar2.png" alt="similar2" class="img-fluid rounded-top-4">
                            <div class="detailtxt">234 Houston Third Hill</div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6 position-relative mb-2">
                        <img src="~/images/similar1.png" alt="similar1" class="img-fluid rounded-top-4">
                        <div class="detailtxt">234 Houston Manson, TXS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*==============from ui side==================*@
    <!---- download modal starts -->
    <div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="AppraisalLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content br-32 border-0">
                <div class="modal-header">
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <div>
                        <h3 class="fw-semibold text-center mb-4">
                            Download Due Diligence File
                        </h3>
                        <div class="modal-body" id="AppraisalImg" style="display:none">
                            <img src="" />
                        </div>
                        <div class="modal-body" id="inspectionImg" style="display:none">
                            <img src="" />
                        </div>
                        <div class="modal-body" id="SurveyImg" style="display:none">
                            <img src="" />
                        </div>
                        <div class="modal-body" id="EnvironmentalImg" style="display:none">
                            <img src="" />
                        </div>
                    </div>
                </div>
                <div class="pb-4 pt-2 text-center">
                    <button type="button" class="btn-pbr btn-cancel" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    <!-- <button type="submit" class="btn-sign btn-pbr">Download</button> -->
                </div>
            </div>
        </div>
    </div>
    <!---- download modal Ends -->
    <!-- Image zoom Modal Popup End-->
    <!-- scripts -->
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/PropertyDetails.js"></script>
</body>


</html>

