@model List<SanmorePlatform_REAL_Model.ViewModels.SearchKeyViewModel>
@*@{
    Layout = "_Layout";
}*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanmorePlatform-REAL</title>
    <!-- Links -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
    
    <!-- Add listing -->
    <div class="top-section">
        <div class="container-fluid container-px">
            <h3 class="fw-semibold mb-0">Saved <span class="blue-primary">Searches</span></h3>
        </div>
    </div>
    <div class="addlistingform">
        <div class="container-fluid container-px">
          @foreach (var item in Model)
    {
                var propTypeArray = item.PropertyTypeList.Split(',');
                var propTypeCount = Convert.ToInt32(propTypeArray.Length) - 1;
                var propType = item.PropertyTypeList;
                var date = item.CreatedOn.ToString().Split(' ')[0].Replace('-','/');
                string[] names = new string[] { "Select", "Multifamily", "1-4 Residential", "Office", "Industrial", "Retail", "Shopping Center", "Specialty", "Healthcare", "Hospitality", "Sports & Entertainment", "Land", "Residential Portfolio" };

                <div class="lending-list mb-3 p-3" id="MainDiv">
                <div class="lending-list-title">
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="mb-0">
                                    <span class="fw-bold mb-0 ms-2">Multifamily Space in Texas</span>
                            </p>
                        </div>
                        <div class="col">
                                <div>Date: <span class="ms-2 fw-bold">@date</span></div>
                        </div>
                        
                            <div class="col">
                                <div style="width:300px">
                                    Property type: <span class="ms-2 fw-bold">
                                        @*@for(var i = 0; i < propTypeArray.Length; i++)
                                        {*@
                                        <span> @names[Convert.ToInt32(propTypeArray[0])]  <a href="" id="txtAddMore"> + @propTypeCount more</a></span>
                                        
                                        @*}*@
                            
                                </span></div>
                        </div>
                        <div class="col text-end">
                            <div>
                                <button type="button" class="btn-sign btn-pbr">
                                    Edit
                                </button>
                                <button type="button" class="btn-delete btn-pbr">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>


    <!-- Right Sidebar Menu Modal Popup -->
    <div class="modal right" id="rightModal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="118" height="40"
                             viewBox="0 0 118 40" fill="none">
                            <path d="M6.35395 13.6335V15.2909C3.31842 17.6999 1.38457 21.3126 1.38457 25.3443C1.38457 29.9541 3.91231 34.0155 7.72557 36.3562V24.2013L11.8391 22.0587V38.0622C12.2876 38.1702 12.7449 38.2574 13.2094 38.3229V13.6415L17.3221 11.4977V38.3225C17.787 38.257 18.2444 38.1698 18.6933 38.0618V3.10288L22.806 0.959961V36.3566C26.6197 34.0155 29.1469 29.9536 29.1469 25.3443C29.1469 21.3126 27.2135 17.6999 24.177 15.2909V13.6335C28.023 16.2564 30.5315 20.5283 30.5315 25.3443C30.5315 33.3018 23.6833 39.7762 15.266 39.7762C6.84833 39.7762 0 33.3018 0 25.3443C0.000446204 20.5283 2.50901 16.2564 6.35395 13.6335Z"
                                  fill="white" />
                            <path d="M52.8672 25.0971H46.4051L40.9294 16.4503V25.0971H35.4824V4.9216H43.5314C48.5638 4.9216 50.5653 7.694 50.5653 11.1527C50.5653 13.9937 48.8212 15.6544 46.305 16.1759L52.8672 25.0971ZM45.376 11.2073C45.376 9.97211 44.6469 9.18979 42.631 9.18979H40.9297V13.2386H42.631C44.6469 13.2386 45.376 12.4426 45.376 11.2073ZM67.2529 9.46462H59.933V12.7586H66.4523V17.2603H59.933V20.5131H67.2529V25.0972H54.4863V4.92167H67.2529V9.46462ZM70.6294 25.0971V4.9216H76.0764V25.0971H70.6294ZM80.0395 25.0971V4.9216H88.1741C95.0507 4.9216 98.3963 8.87434 98.3963 15.009C98.3963 21.1302 95.0509 25.0964 88.1741 25.0964L80.0395 25.0971ZM85.4868 20.513H87.8887C91.1912 20.513 92.6638 18.6876 92.6638 15.0094C92.6638 11.3175 91.1912 9.46462 87.8887 9.46462H85.4868V20.513ZM118 4.9216L111.08 15.4482V25.0964H105.633V15.5304L98.6708 4.9209H104.647L108.335 10.8775L112.052 4.9209H118L118 4.9216Z"
                                  fill="white" />
                            <path d="M47.2672 32.5078C48.1198 32.6615 48.605 33.1997 48.605 34.0634C48.605 35.2888 47.9408 35.8857 46.1885 35.8857H43.8757C43.7909 35.8857 43.7344 35.8315 43.7344 35.7501V29.6906C43.7344 29.6092 43.7909 29.5549 43.8757 29.5549H46.2969C47.6676 29.5549 48.2611 30.2829 48.2611 31.2009C48.2611 31.8657 47.9078 32.3405 47.2672 32.5078ZM46.848 31.3908C46.848 30.9748 46.6501 30.8392 46.1555 30.8392H45.2558V31.9878H46.1367C46.6643 31.9878 46.848 31.8295 46.848 31.3908ZM46.2497 34.6015C46.848 34.6015 47.0882 34.3663 47.0882 33.9006C47.0882 33.376 46.8103 33.1906 46.2356 33.1906H45.2558V34.6015H46.2497ZM55.7818 29.5549C55.8948 29.5549 55.9372 29.6137 55.876 29.7177L53.5161 33.4348V35.7501C53.5161 35.8315 53.4595 35.8857 53.3748 35.8857H52.1359C52.0511 35.8857 51.9946 35.8315 51.9946 35.7501V33.4167L49.63 29.7177C49.564 29.6137 49.6111 29.5549 49.7242 29.5549H51.1232C51.1985 29.5549 51.2504 29.582 51.2927 29.6453L52.753 31.9787L54.2179 29.6453C54.2603 29.582 54.3121 29.5549 54.3875 29.5549H55.7818ZM63.2299 32.0556C64.4688 32.2772 65.7736 32.6932 65.7736 34.0814C65.7736 35.4335 64.9257 36.0214 63.2629 36.0214C61.7132 36.0214 60.9501 35.5149 60.8323 34.2488C60.8229 34.1583 60.8794 34.0995 60.9642 34.0995H62.0994C62.1842 34.0995 62.2172 34.1493 62.2407 34.2216C62.3632 34.5472 62.6647 34.7055 63.2629 34.7055C63.8941 34.7055 64.2851 34.5336 64.2851 34.1312C64.2851 33.7106 64.1438 33.4845 63.2299 33.3127C62.0618 33.0911 60.9312 32.6254 60.9312 31.3501C60.9312 30.1835 61.6708 29.478 63.2299 29.478C64.6195 29.478 65.4486 29.9709 65.5757 31.1919C65.5852 31.2823 65.5286 31.3547 65.4438 31.3547H64.3934C64.3086 31.3547 64.2757 31.2914 64.2521 31.219C64.1626 30.9567 63.8659 30.7804 63.2535 30.7804C62.693 30.7804 62.4103 31.0155 62.4103 31.3501C62.4103 31.6215 62.3915 31.9018 63.2299 32.0556ZM72.9645 35.732C72.9975 35.8224 72.9551 35.8857 72.8515 35.8857H71.5608C71.4855 35.8857 71.4289 35.8586 71.4007 35.7772L71.0992 34.8999H68.7393L68.4378 35.7772C68.4143 35.8586 68.353 35.8857 68.2777 35.8857H66.987C66.8834 35.8857 66.841 35.8224 66.8739 35.732L69.1821 29.6634C69.2103 29.5911 69.2668 29.5549 69.3422 29.5549H70.4727C70.5481 29.5549 70.6282 29.5911 70.6564 29.6634L72.9645 35.732ZM69.1679 33.6654H70.6753L69.9216 31.4768L69.1679 33.6654ZM79.6797 29.5549C79.7645 29.5549 79.8211 29.6092 79.8211 29.6906V35.7501C79.8211 35.8315 79.7645 35.8857 79.6797 35.8857H78.2855C78.2101 35.8857 78.1536 35.8586 78.1159 35.7953L75.869 31.9199V35.7501C75.869 35.8315 75.8125 35.8857 75.7277 35.8857H74.4888C74.404 35.8857 74.3475 35.8315 74.3475 35.7501V29.6906C74.3475 29.6092 74.404 29.5549 74.4888 29.5549H75.8784C75.9538 29.5549 76.0103 29.582 76.048 29.6453L78.2949 33.5162V29.6906C78.2949 29.6092 78.3514 29.5549 78.4362 29.5549H79.6797ZM88.4864 29.5549C88.5712 29.5549 88.6277 29.6092 88.6277 29.6906V35.7501C88.6277 35.8315 88.5712 35.8857 88.4864 35.8857H87.2475C87.1627 35.8857 87.1062 35.8315 87.1062 35.7501V32.7475L85.8627 35.7727C85.8344 35.845 85.7685 35.8857 85.6931 35.8857H84.5814C84.5061 35.8857 84.4354 35.845 84.4071 35.7727L83.1589 32.7339V35.7501C83.1589 35.8315 83.1023 35.8857 83.0176 35.8857H81.7787C81.6939 35.8857 81.6374 35.8315 81.6374 35.7501V29.6906C81.6374 29.6092 81.6939 29.5549 81.7787 29.5549H83.1683C83.2437 29.5549 83.3096 29.582 83.3379 29.6453L85.1373 34.1945L86.9319 29.6453C86.9602 29.582 87.0261 29.5549 87.1015 29.5549H88.4864ZM93.6518 36.0033C91.7865 36.0033 90.2556 34.5563 90.2556 32.7475C90.2556 30.9296 91.7865 29.4825 93.6518 29.4825C95.5219 29.4825 97.0575 30.9296 97.0575 32.7475C97.0575 34.5563 95.5219 36.0033 93.6518 36.0033ZM93.6518 34.5879C94.7023 34.5879 95.5266 33.7785 95.5266 32.7475C95.5266 31.7074 94.7023 30.8979 93.6518 30.8979C92.6108 30.8979 91.7865 31.7074 91.7865 32.7475C91.7865 33.7785 92.6108 34.5879 93.6518 34.5879ZM102.637 33.6383L103.787 35.7275C103.839 35.8224 103.782 35.8857 103.674 35.8857H102.458C102.378 35.8857 102.331 35.8541 102.294 35.7817L101.262 33.8282H101.149H100.207V35.7501C100.207 35.8315 100.15 35.8857 100.066 35.8857H98.8267C98.7419 35.8857 98.6854 35.8315 98.6854 35.7501V29.6906C98.6854 29.6092 98.7419 29.5549 98.8267 29.5549H101.149C103.226 29.5549 103.848 30.2649 103.848 31.6893C103.848 32.6932 103.542 33.3398 102.637 33.6383ZM100.207 30.8392V32.544H101.257C102.006 32.544 102.393 32.3902 102.393 31.6893C102.393 30.9974 102.006 30.8392 101.257 30.8392H100.207ZM109.607 34.6015C109.692 34.6015 109.748 34.6557 109.748 34.7371V35.7501C109.748 35.8315 109.692 35.8857 109.607 35.8857H105.476C105.391 35.8857 105.335 35.8315 105.335 35.7501V29.6906C105.335 29.6092 105.391 29.5549 105.476 29.5549H109.598C109.682 29.5549 109.739 29.6092 109.739 29.6906V30.7035C109.739 30.7849 109.682 30.8392 109.598 30.8392H106.856V32.0556H109.367C109.452 32.0556 109.508 32.1098 109.508 32.1912V33.2042C109.508 33.2856 109.452 33.3398 109.367 33.3398H106.856V34.6015H109.607Z"
                                  fill="white" />
                        </svg>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="19" height="17" viewBox="0 0 19 17" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M19 7.06154L9.5 0L0 7.06154L0.452381 8.40659H1.20635V17H17.7936V8.40659H18.5476L19 7.06154ZM2.71429 15.5055V6.91209L9.5 1.86813L16.2857 6.91209V15.5055H12.516V11.105L11.762 10.3577H7.23817L6.48421 11.105V15.5055H2.71429ZM7.99216 15.5055H11.008V11.8522H7.99216V15.5055Z"
                                              fill="white" />
                                    </svg>
                                </span> Home
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="19" height="19" viewBox="0 0 19 19" fill="none">
                                        <path d="M3.6575 14.345C4.465 13.7275 5.3675 13.2405 6.365 12.8839C7.3625 12.5273 8.4075 12.3494 9.5 12.35C10.5925 12.35 11.6375 12.5283 12.635 12.8848C13.6325 13.2414 14.535 13.7281 15.3425 14.345C15.8967 13.6958 16.3283 12.9596 16.6374 12.1362C16.9464 11.3129 17.1006 10.4342 17.1 9.5C17.1 7.39417 16.3599 5.60088 14.8798 4.12015C13.3997 2.63942 11.6065 1.89937 9.5 1.9C7.39417 1.9 5.60088 2.64005 4.12015 4.12015C2.63942 5.60025 1.89937 7.39353 1.9 9.5C1.9 10.4342 2.05453 11.3129 2.3636 12.1362C2.67267 12.9596 3.10397 13.6958 3.6575 14.345ZM9.5 10.45C8.56583 10.45 7.77797 10.1295 7.1364 9.4886C6.49483 8.84767 6.17437 8.0598 6.175 7.125C6.175 6.19083 6.49547 5.40297 7.1364 4.7614C7.77733 4.11983 8.5652 3.79937 9.5 3.8C10.4342 3.8 11.222 4.12047 11.8636 4.7614C12.5052 5.40233 12.8256 6.1902 12.825 7.125C12.825 8.05917 12.5045 8.84703 11.8636 9.4886C11.2227 10.1302 10.4348 10.4506 9.5 10.45ZM9.5 19C8.18583 19 6.95083 18.7505 5.795 18.2514C4.63917 17.7523 3.63375 17.0756 2.77875 16.2212C1.92375 15.3663 1.24703 14.3608 0.7486 13.205C0.250167 12.0492 0.000633333 10.8142 0 9.5C0 8.18583 0.249533 6.95083 0.7486 5.795C1.24767 4.63917 1.92438 3.63375 2.77875 2.77875C3.63375 1.92375 4.63917 1.24703 5.795 0.7486C6.95083 0.250167 8.18583 0.000633333 9.5 0C10.8142 0 12.0492 0.249533 13.205 0.7486C14.3608 1.24767 15.3663 1.92438 16.2212 2.77875C17.0763 3.63375 17.7533 4.63917 18.2523 5.795C18.7514 6.95083 19.0006 8.18583 19 9.5C19 10.8142 18.7505 12.0492 18.2514 13.205C17.7523 14.3608 17.0756 15.3663 16.2212 16.2212C15.3663 17.0763 14.3608 17.7533 13.205 18.2523C12.0492 18.7514 10.8142 19.0006 9.5 19ZM9.5 17.1C10.3392 17.1 11.1308 16.9771 11.875 16.7314C12.6192 16.4857 13.3 16.1335 13.9175 15.675C13.3 15.2158 12.6192 14.8634 11.875 14.6176C11.1308 14.3719 10.3392 14.2494 9.5 14.25C8.66083 14.25 7.86917 14.3729 7.125 14.6186C6.38083 14.8643 5.7 15.2165 5.0825 15.675C5.7 16.1342 6.38083 16.4866 7.125 16.7323C7.86917 16.9781 8.66083 17.1006 9.5 17.1ZM9.5 8.55C9.91167 8.55 10.2521 8.41542 10.5212 8.14625C10.7904 7.87708 10.925 7.53667 10.925 7.125C10.925 6.71333 10.7904 6.37292 10.5212 6.10375C10.2521 5.83458 9.91167 5.7 9.5 5.7C9.08833 5.7 8.74792 5.83458 8.47875 6.10375C8.20958 6.37292 8.075 6.71333 8.075 7.125C8.075 7.53667 8.20958 7.87708 8.47875 8.14625C8.74792 8.41542 9.08833 8.55 9.5 8.55Z"
                                              fill="white" />
                                    </svg>
                                </span> My Account
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="17" height="17" viewBox="0 0 17 17" fill="none">
                                        <path d="M16.1546 1.94885L16.7734 1.3384C17.0741 1.04968 17.0741 0.645449 16.7818 0.373239L16.5842 0.175259C16.3179 -0.0804788 15.8968 -0.0474645 15.6133 0.216509L14.986 0.81045L16.1546 1.94885ZM6.26421 10.528L7.93982 9.82681L15.5274 2.55102L14.3501 1.43737L6.77118 8.71316L5.99781 10.264C5.92907 10.4042 6.10095 10.594 6.26421 10.528ZM2.69814 16.6654H12.7862C14.3329 16.6654 15.2266 15.8075 15.2266 14.1081V4.92679L13.8432 6.25489V14.0422C13.8432 14.9 13.3619 15.3372 12.769 15.3372H2.72392C1.86464 15.3372 1.38344 14.9 1.38344 14.0422V4.67932C1.38344 3.82141 1.86464 3.37592 2.72392 3.37592H10.1568L11.5402 2.04782H2.69814C0.910856 2.04782 0 2.90573 0 4.60506V14.1081C0 15.8157 0.910856 16.6654 2.69814 16.6654Z"
                                              fill="white" />
                                    </svg>
                                </span> My Leads
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg width="20" height="16"
                                         viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 2C20 0.9 19.1 0 18 0H2C0.9 0 0 0.9 0 2V14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2ZM18 2L10 7L2 2H18ZM18 14H2V4L10 9L18 4V14Z"
                                              fill="white" />
                                    </svg>
                                </span> Messages
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M10 0C4.47717 0 0 4.47711 0 10C0 15.5228 4.47717 20 10 20C15.5229 20 20 15.5228 20 10C20 4.47711 15.5229 0 10 0ZM10 18C5.58881 18 2 14.4112 2 10C2 5.58881 5.58881 2 10 2C14.4113 2 18 5.58881 18 10C18 14.4112 14.4113 18 10 18ZM11.2522 6C11.2522 6.72504 10.7243 7.25 10.0102 7.25C9.26713 7.25 8.75219 6.72504 8.75219 5.98613C8.75219 5.27595 9.28107 4.75 10.0102 4.75C10.7243 4.75 11.2522 5.27595 11.2522 6ZM9.00219 9H11.0022V15H9.00219V9Z"
                                              fill="white" />
                                    </svg>
                                </span> About Us
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="18" height="20" viewBox="0 0 18 20" fill="none">
                                        <path d="M15.2222 18.7778H2.77778C1.8 18.7778 1 17.9778 1 17.0001V4.55561C1 3.57783 1.8 2.77783 2.77778 2.77783H15.2222C16.2 2.77783 17 3.57783 17 4.55561V17.0001C17 17.9778 16.2 18.7778 15.2222 18.7778Z"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M12.5547 1V2.77778" stroke="white" stroke-width="1.5"
                                              stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M5.44531 1V2.77778" stroke="white" stroke-width="1.5"
                                              stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M9.00065 11.6663C10.4734 11.6663 11.6673 10.4724 11.6673 8.99967C11.6673 7.52692 10.4734 6.33301 9.00065 6.33301C7.52789 6.33301 6.33398 7.52692 6.33398 8.99967C6.33398 10.4724 7.52789 11.6663 9.00065 11.6663Z"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M13.4436 15.6663C12.1991 14.7775 10.688 14.333 8.99913 14.333C7.31024 14.333 5.79913 14.8663 4.55469 15.6663"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                    </svg>
                                </span> Contact Us
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="17" height="17" viewBox="0 0 17 17" fill="none">
                                        <mask id="mask0_339_544" maskUnits="userSpaceOnUse" x="0" y="0" width="17"
                                              height="17">
                                            <path d="M17 0H0V17H17V0Z" fill="white" />
                                        </mask>
                                        <g mask="url(#mask0_339_544)">
                                            <path d="M11.625 14.875V1.0625C11.625 0.768719 11.3875 0.53125 11.0938 0.53125H1.53125C1.23747 0.53125 1 0.768719 1 1.0625V16.4688H4.71875V13.2812H7.90625V16.4688H16.9375V4.25C16.9375 4.25 16.9375 3.71875 16.4062 3.71875H13.2188M8.96875 3.1875V4.25M14.2812 6.375V7.4375M14.2812 9.5625V10.625M6.3125 3.1875V4.25M3.65625 3.1875V4.25M8.96875 6.375V7.4375M6.3125 6.375V7.4375M3.65625 6.375V7.4375M8.96875 9.5625V10.625M6.3125 9.5625V10.625M3.65625 9.5625V10.625"
                                                  stroke="white" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round" />
                                        </g>
                                    </svg>
                                </span> Search For Sale
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="18" height="20" viewBox="0 0 18 20" fill="none">
                                        <path d="M11.9295 0H0V20H17.6471V5.72388L11.9295 0ZM16.3152 18.6667H1.33185V1.33333H11.3779L16.3152 6.27612V18.6667Z"
                                              fill="white" />
                                        <path d="M7.75738 5.88184C7.09649 5.88147 6.44472 6.03414 5.85445 6.32758C5.26417 6.62101 4.75184 7.04704 4.35862 7.57142C3.96541 8.09581 3.70226 8.70393 3.59034 9.34693C3.47841 9.98994 3.52082 10.6499 3.71416 11.2738C3.9075 11.8977 4.24638 12.4681 4.70357 12.9392C5.16076 13.4103 5.72352 13.769 6.34663 13.9865C6.96973 14.2039 7.63582 14.2741 8.29137 14.1912C8.94692 14.1084 9.57365 13.875 10.1212 13.5097L13.1201 16.4701L14.1175 15.4855L11.142 12.5481C11.6114 11.9282 11.8968 11.1916 11.9663 10.4207C12.0357 9.64976 11.8864 8.87499 11.5351 8.18309C11.1838 7.4912 10.6444 6.90947 9.97717 6.50304C9.30998 6.09661 8.54137 5.88152 7.75738 5.88184ZM4.94229 10.0534C4.94228 9.50376 5.10738 8.96645 5.4167 8.50942C5.72603 8.0524 6.1657 7.69619 6.6801 7.48584C7.1945 7.2755 7.76054 7.22046 8.30663 7.32769C8.85271 7.43492 9.35433 7.6996 9.74804 8.08826C10.1417 8.47693 10.4099 8.97212 10.5185 9.51121C10.6271 10.0503 10.5714 10.6091 10.3583 11.1169C10.1452 11.6247 9.78437 12.0587 9.32141 12.3641C8.85846 12.6695 8.31417 12.8325 7.75738 12.8324C7.01103 12.8316 6.29549 12.5386 5.76774 12.0176C5.23999 11.4966 4.94313 10.7902 4.94229 10.0534Z"
                                              fill="white" />
                                    </svg>
                                </span> Browse Lenders
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M13.3141 13.2682C14.6035 11.9671 15.4 10.1765 15.4 8.2C15.4 4.22356 12.1765 1 8.2 1C4.22356 1 1 4.22356 1 8.2C1 12.1765 4.22356 15.4 8.2 15.4C10.1999 15.4 12.0093 14.5846 13.3141 13.2682ZM13.3141 13.2682L19 19M4.85714 8.71429L6.78571 10.6429L11.2857 6.14286"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                    </svg>
                                </span> Saved Searches
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="19" height="17" viewBox="0 0 19 17" fill="none">
                                        <path d="M13.8759 1.36C14.3699 1.35958 14.859 1.45801 15.3145 1.64951C15.77 1.841 16.1828 2.12172 16.5286 2.4752C17.2413 3.20034 17.6407 4.17735 17.6407 5.1952C17.6407 6.21306 17.2413 7.19006 16.5286 7.9152L9.5 15.0484L2.47136 7.9152C1.75871 7.19006 1.35925 6.21306 1.35925 5.1952C1.35925 4.17735 1.75871 3.20034 2.47136 2.4752C2.81743 2.12198 3.23025 1.84141 3.68571 1.64988C4.14117 1.45835 4.63014 1.35971 5.12406 1.35971C5.61798 1.35971 6.10695 1.45835 6.56241 1.64988C7.01787 1.84141 7.43069 2.12198 7.77676 2.4752L9.5 4.2432L11.2165 2.4888C11.5613 2.13111 11.9745 1.84679 12.4315 1.65284C12.8884 1.45888 13.3797 1.35929 13.8759 1.36ZM13.8759 1.82434e-06C13.2013 -0.000571226 12.5334 0.133863 11.9113 0.395423C11.2891 0.656983 10.7254 1.0404 10.2531 1.5232L9.5 2.2848L8.74693 1.5232C8.27402 1.04127 7.71014 0.65852 7.08814 0.397251C6.46614 0.135983 5.79847 0.00142625 5.12406 0.00142625C4.44965 0.00142625 3.78198 0.135983 3.15998 0.397251C2.53798 0.65852 1.9741 1.04127 1.50119 1.5232C0.539077 2.50487 0 3.82593 0 5.202C0 6.57808 0.539077 7.89914 1.50119 8.8808L9.5 17L17.4988 8.8808C18.4609 7.89914 19 6.57808 19 5.202C19 3.82593 18.4609 2.50487 17.4988 1.5232C17.026 1.04102 16.4622 0.657999 15.8402 0.396483C15.2182 0.134968 14.5505 0.000187747 13.8759 1.82434e-06Z"
                                              fill="white" />
                                    </svg>
                                </span>  My Favorite Properties
                            </a>
                        </li>
                        <li>
                            <a href="AddListing.html" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16"
                                         fill="none">
                                        <path d="M1 12.1111H8.77778M14.3333 11H17.6667M17.6667 11H21M17.6667 11V14.3333M17.6667 11V7.66667M1 6.55556H13.2222M1 1H13.2222"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                    </svg>
                                </span> Add a Listing
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="24" height="19" viewBox="0 0 24 19" fill="none">
                                        <path d="M22.6303 2.7H19.5223L17.1762 0.2637C17.0141 0.0945002 16.7939 0 16.5634 0H10.4964C10.2659 0 10.0458 0.0945002 9.88369 0.2637L5.90897 4.3911C4.89493 5.4441 4.89493 7.1559 5.90897 8.2089L6.05805 8.3637C7.07209 9.4167 8.72057 9.4167 9.73462 8.3637L12.8426 5.1363C13.1815 4.7844 13.1815 4.2156 12.8426 3.8637C12.5037 3.5118 11.956 3.5118 11.6171 3.8637L8.50909 7.0911C8.18408 7.4268 7.60858 7.4268 7.28357 7.0911L7.1345 6.9363C6.97242 6.7671 6.88315 6.5421 6.88315 6.3C6.88315 6.0579 6.97329 5.832 7.1345 5.6637L10.8553 1.8H16.2046L18.5508 4.2363C18.7128 4.4055 18.933 4.5 19.1635 4.5H21.7636V11.7H19.1635C18.6842 11.7 18.2968 12.1023 18.2968 12.6C18.2968 13.0977 18.6842 13.5 19.1635 13.5H22.6303C23.1096 13.5 23.497 13.0977 23.497 12.6V3.6C23.497 3.1023 23.1096 2.7 22.6303 2.7Z"
                                              fill="white" />
                                        <path d="M16.2135 7.4637C15.8746 7.1118 15.3268 7.1118 14.988 7.4637C14.6491 7.8156 14.6491 8.3844 14.988 8.7363L18.0994 11.9673C18.3551 12.2328 18.4548 12.5181 18.4045 12.8403C18.3126 13.4343 17.7397 14.0841 16.9467 14.4954C15.9171 15.0309 14.5988 15.2793 13.9704 15.1983C13.6974 15.1605 13.4253 15.2667 13.2363 15.4746C12.5057 16.2801 11.4674 16.7688 10.4585 16.7841C9.87352 16.7904 9.4393 16.6293 9.27982 16.4646L4.94716 11.9655C4.86742 11.8818 4.77122 11.8161 4.66461 11.7702C4.55888 11.7234 4.4462 11.7 4.33353 11.7H1.73341V4.5H4.33353C4.56408 4.5 4.78422 4.4055 4.94629 4.2363L7.29247 1.8H9.53377C10.0131 1.8 10.4005 1.3977 10.4005 0.9C10.4005 0.4023 10.0131 0 9.53377 0H6.93365C6.70311 0 6.48296 0.0945002 6.32089 0.2637L3.97472 2.7H0.866706C0.387418 2.7 0 3.1023 0 3.6V12.6C0 13.0977 0.387418 13.5 0.866706 13.5H3.97472L8.0543 17.7363C8.57519 18.2772 9.4315 18.5832 10.4135 18.5832C10.4369 18.5832 10.4611 18.5832 10.4845 18.5823C11.8401 18.5625 13.1748 17.9946 14.2027 17.0118C14.2105 17.0118 14.2183 17.0118 14.2244 17.0118C15.2644 17.0118 16.6538 16.659 17.7215 16.1046C19.0355 15.4224 19.9308 14.3091 20.1154 13.1274C20.2549 12.2328 19.9741 11.3679 19.325 10.6938L16.2135 7.4637Z"
                                              fill="white" />
                                    </svg>
                                </span>Partner Matching
                            </a>
                        </li>
                        <li>
                            <a href="" class="nav-link">
                                <span class="me-3">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="22" height="20" viewBox="0 0 22 20" fill="none">
                                        <path d="M17.6454 0C17.8676 0 18.074 0.106255 18.2021 0.281664L18.2521 0.360964L21.9253 7.19073L21.9646 7.28382L21.9752 7.31818L21.9908 7.38845L21.9994 7.46845L21.9974 7.55882L22 7.5C22 7.59555 21.9802 7.68655 21.9444 7.76918L21.918 7.82336L21.8807 7.88391L21.8324 7.94618L11.5488 19.7315C11.457 19.8537 11.3313 19.9343 11.1948 19.973L11.1416 19.9858L11.0524 19.9981L10.9986 20L10.9064 19.9938L10.8284 19.9792L10.7337 19.9484L10.7101 19.9373C10.6273 19.901 10.5512 19.8469 10.4876 19.7759L0.154127 7.933L0.0971863 7.85336L0.0532641 7.76873L0.0214705 7.67845L0.000256606 7.55927L0 7.44346L0.0136231 7.35373L0.0224148 7.31809L0.0534931 7.23073L0.0785577 7.17918L3.74562 0.360964C3.85018 0.166554 4.04184 0.036 4.25823 0.00640002L4.3523 0H17.6454ZM14.5797 8.18182H7.41518L10.9997 17.4182L14.5797 8.18182ZM5.94289 8.18182H2.18782L8.94709 15.9255L5.94289 8.18182ZM19.8071 8.18182H16.0548L13.0542 15.9191L19.8071 8.18182ZM7.35375 1.36273H4.76393L1.82936 6.81818H5.88605L7.35375 1.36273ZM13.2201 1.36273H8.77657L7.30887 6.81818H14.687L13.2201 1.36273ZM17.2328 1.36273H14.643L16.1107 6.81818H20.1656L17.2328 1.36273Z"
                                              fill="white" />
                                    </svg>
                                </span> Join Premium
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="modal-login">Sign In</button>
                    <button type="button" class="modal-signup">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Sidebar Menu Modal Popup End-->
    <!-- scripts -->
    <script src="assets/js/jquery-3.7.1.js"></script>
    <script src="assets/js/addListing.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>
@*@{
    // Declare and initialize an array of names
    string[] names = new string[] {
        "John",
        "Alice",
        "Bob",
        "Emily",
        "Michael"
    };
}*@
@*
                <script>
    data.forEach(function (item) {
        var newDiv = $('<div class="dynamicDiv">');
        newDiv.html('<p>' + item.property1 + '</p><p>' + item.property2 + '</p>'); // Bind data to the div
        $('#dynamicDivContainer').append(newDiv); // Append the new div to the container
    });
                </script>*@