<div class="landing-banner">
    <video id="background-video" autoplay loop muted poster="~/images/background/landing-baner.png">
        <source src="~/videos/landing-background.mp4" type="video/mp4">
    </video>
    <div class="banner-content">
        <div>
            <h5 class="search-title">Streamline Home Buying</h5>
        </div>
        <div class="search-container1">
            <input type="text" class="search-input1" placeholder="Enter an Address,city or Neighbourhood">
            <button class="search123"><img src="~/Images/search.png" alt="Search"></button>
            <span>
                <button class="filter-button">
                    Filter
                    <img src="~/images/icon-filter.svg" alt="icon-Filter" class="filter3" />
                </button>
            </span>
        </div>
    </div>
</div>
<div style="width: 100%">
    <div class="container my-4">
        <div>
            <h4 class="page-title">REIDY to be yours</h4>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="card">
                    <img class="card-img-top" src="~/images/background/card-baner.png" alt="Apartments" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>$1,955,000</strong>
                            <strong>Apartments</strong>
                        </div>
                        <div class="text-start border-top">
                            8 Bds | 8 Ba | 4028 sqft
                        </div>
                        <div class="text-start">
                            3010 Truxillo St, Houston TX 77007
                        </div>
                        <div class="text-start border-top">Built in: 2023</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <img class="card-img-top" src="~/images/background/card-baner.png" alt="Apartments" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>$1,955,000</strong>
                            <strong>Apartments</strong>
                        </div>
                        <div class="text-start border-top">
                            8 Bds | 8 Ba | 4028 sqft
                        </div>
                        <div class="text-start">
                            3010 Truxillo St, Houston TX 77007
                        </div>
                        <div class="text-start border-top">Built in: 2023</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <img class="card-img-top" src="~/images/background/card-baner.png" alt="Apartments" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>$1,955,000</strong>
                            <strong>Apartments</strong>
                        </div>
                        <div class="text-start border-top">
                            8 Bds | 8 Ba | 4028 sqft
                        </div>
                        <div class="text-start">
                            3010 Truxillo St, Houston TX 77007
                        </div>
                        <div class="text-start border-top">Built in: 2023</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <img class="card-img-top" src="~/images/background/card-baner.png" alt="Apartments" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>$1,955,000</strong>
                            <strong>Apartments</strong>
                        </div>
                        <div class="text-start border-top">
                            8 Bds | 8 Ba | 4028 sqft
                        </div>
                        <div class="text-start">
                            3010 Truxillo St, Houston TX 77007
                        </div>
                        <div class="text-start border-top">Built in: 2023</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <img class="card-img-top" src="~/images/background/card-baner.png" alt="Apartments" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>$1,955,000</strong>
                            <strong>Apartments</strong>
                        </div>
                        <div class="text-start border-top">
                            8 Bds | 8 Ba | 4028 sqft
                        </div>
                        <div class="text-start">
                            3010 Truxillo St, Houston TX 77007
                        </div>
                        <div class="text-start border-top">Built in: 2023</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <img class="card-img-top" src="~/images/background/card-baner.png" alt="Apartments" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>$1,955,000</strong>
                            <strong>Apartments</strong>
                        </div>
                        <div class="text-start border-top">
                            8 Bds | 8 Ba | 4028 sqft
                        </div>
                        <div class="text-start">
                            3010 Truxillo St, Houston TX 77007
                        </div>
                        <div class="text-start border-top">Built in: 2023</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <img class="card-img-top" src="~/images/background/card-baner.png" alt="Apartments" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>$1,955,000</strong>
                            <strong>Apartments</strong>
                        </div>
                        <div class="text-start border-top">
                            8 Bds | 8 Ba | 4028 sqft
                        </div>
                        <div class="text-start">
                            3010 Truxillo St, Houston TX 77007
                        </div>
                        <div class="text-start border-top">Built in: 2023</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <img class="card-img-top" src="~/images/background/card-baner.png" alt="Apartments" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>$1,955,000</strong>
                            <strong>Apartments</strong>
                        </div>
                        <div class="text-start border-top">
                            8 Bds | 8 Ba | 4028 sqft
                        </div>
                        <div class="text-start">
                            3010 Truxillo St, Houston TX 77007
                        </div>
                        <div class="text-start border-top">Built in: 2023</div>
                    </div>
                </div>
            </div>
        </div>
    
        <div>
            <h1 class="reidy-title">Investing like never before with...</h1>
        </div>
        <div class="invest-block">
            <div class="reidy-options">
                <p>Partner Matching</p>
                <p>Fast-track Buyer</p>
                <p>Loan Market Place</p>
            </div>
            <div class="rediy-images">
                <img class ="image-1" src="~/Images/background/lnd.png" alt="card-image" />
                <img class="image-2" src="~/Images/background/image 21.png" alt="card-image" />
                <img class="image-3" src="~/Images/background/image 23.png" alt="card-image" />
            </div>
            <div class="reidy-system">
                <ul>
                    <strong class="text-primary">Pick the loan that works for you!</strong>
                    <p>Our system automatically selects lending options that you are already approved of based on your Fast-Track buyer information</p>
                </ul>
                <button class="btn btn-sm btn-primary reidy-start">Start now</button>
            </div>
        </div>
    </div>
    <div>
        <h4 class="page-title px-2">What our users have to say</h4>
    </div>
    <div class="owl-carousel owl-theme card-review px-2">
        <div class="user-container">
            <div class="card-view">
                <div class="user-image">
                    <img src="~/Images/background/Ellipse 9.png" alt="user-image">
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="5 stars">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="4 stars">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="3 stars">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="2 stars">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="1 star">1 star</label>
                </div>
                <div class="text-light">
                    Sanmore is a one-stop shop for all your real estate needs!
                </div>
            </div>
        </div>
        <div class="user-container">
            <div class="card-view">
                <div class="user-image">
                    <img src="~/Images/background/Ellipse 9.png" alt="user-image">
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="5 stars">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="4 stars">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="3 stars">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="2 stars">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="1 star">1 star</label>
                </div>
                <div class="text-light">
                    Sanmore is a one-stop shop for all your real estate needs!
                </div>
            </div>
        </div>
        <div class="user-container">
            <div class="card-view">
                <div class="user-image">
                    <img src="~/Images/background/Ellipse 9.png" alt="user-image">
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="5 stars">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="4 stars">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="3 stars">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="2 stars">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="1 star">1 star</label>
                </div>
                <div class="text-light">
                    Sanmore is a one-stop shop for all your real estate needs!
                </div>
            </div>
        </div>
        <div class="user-container">
            <div class="card-view">
                <div class="user-image">
                    <img src="~/Images/background/Ellipse 9.png" alt="user-image">
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="5 stars">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="4 stars">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="3 stars">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="2 stars">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="1 star">1 star</label>
                </div>
                <div class="text-light">
                    Sanmore is a one-stop shop for all your real estate needs!
                </div>
            </div>
        </div>
        <div class="user-container">
            <div class="card-view">
                <div class="user-image">
                    <img src="~/Images/background/Ellipse 9.png" alt="user-image">
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="5 stars">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="4 stars">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="3 stars">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="2 stars">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="1 star">1 star</label>
                </div>
                <div class="text-light">
                    Sanmore is a one-stop shop for all your real estate needs!
                </div>
            </div>
        </div>
        <div class="user-container">
            <div class="card-view">
                <div class="user-image">
                    <img src="~/Images/background/Ellipse 9.png" alt="user-image">
                </div>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="5 stars">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="4 stars">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="3 stars">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="2 stars">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="1 star">1 star</label>
                </div>
                <div class="text-light">
                    Sanmore is a one-stop shop for all your real estate needs!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4 front-image">
    <h5 class="title-front">Reidy on the front page</h5>
    <div class="image-container">
        <div>
            <img class="main-image" src="~/Images/background/main.png" alt="main-image" />
        </div>
        <div>
            <img class="first-image" src="~/Images/background/img-1.png" alt="first-image" />
                <img class="first-image" src="~/Images/background/img-2.png" alt="second-image" />
        </div>
        <div>
            <img class="second-image"  src="~/Images/background/img-2.png" alt="second-image" />
            <img class="second-image"  src="~/Images/\background/img-3.png" alt="second-image" />
        </div>
        <div>
            <img class="third-image" src="~/Images/background/img-4.png" alt="third-image" />
            <img class="third-image" src="~/Images/background/img-2.png" alt="third-image" />
        </div>
        <div class="icons-landing">
            <div>
                <button type="button">
                    <img src="~/Images/icons/insta.png" alt="icon-insta" />
                </button>
            </div>
            <div>
                <button type="button">
                    <img src="~/Images/icons/facebook.png" alt="icon-facebook" />
                </button>
            </div>
            <div>
                <button type="button">
                    <img src="~/Images/icons/tiktok.png" alt="icon-tik" />
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function toggleMenu() {
            var menu = document.getElementById('menu');
            menu.style.display = (menu.style.display === 'none') ? 'block' : 'none';
        }
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                items: 4,
                loop: false,
                margin: 20, 
                nav: true,
                dots: false
            })
        });
    </script>
}